/* FONTS

/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * zerodeforestationcattle.org
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2015
 */


@font-face {
    font-family: "Circular-Pro-Book";
    src:url("../fonts/lineto-circular-pro-book.eot");
    src:url("../fonts/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-book.woff") format("woff"),
        url("../fonts/lineto-circular-pro-book.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-book.svg#lineto-circular-pro-book") format("svg");
    font-weight: normal;
    font-style: normal;
}



/*
        This font software is the property of Commercial Type.

        You may not modify the font software, use it on another website, or install it on a computer.

        License information is available at http://commercialtype.com/eula
        For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

        Copyright (C) 2013 Schwartzco Inc.
        License: 1504-DPVTJK     
*/


@font-face {
  font-family: 'Dala Floda Web';
  src: url('../fonts/DalaFloda-Roman-Web.eot');
  src: url('../fonts/DalaFloda-Roman-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/DalaFloda-Roman-Web.woff') format('woff'),
     url('../fonts/DalaFloda-Roman-Web.ttf') format('truetype'),
     url('../fonts/DalaFloda-Roman-Web.svg#DalaFloda-Roman') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.DalaFloda-Roman-Web {
  font-family: 'Dala Floda Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}



/* Global style */




body {
    font-size: 16px;
    font-family: Circular-Pro-Book;
}


h1,h2,a {
    color: #363845;
}



#beta-marker {
    font-size: 2em;
    position: fixed;
    top: 1em;
    right: -2em;
    height: auto;
    width: auto;
    padding: 0.5em 3em;
    background-color: rgba(0,0,0,0.1);
    color: #363845;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container {
    font-family: Circular-Pro-Book;
}

.chapter-header {
    background-color: #fff;
}


.chapter-number-lg {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin-top: 2em;
}


.chapter-number-lg img {
    width: 10em;
}


#chapter-one .chapter-number-lg {
    background-color: #f2dbb2;
}

#chapter-two .chapter-number-lg {
    background-color: #cae3cd;
}

#chapter-three .chapter-number-lg {
    background-color: #b6b7bb;
}

#chapter-four .chapter-number-lg {
    background-color: #e2d8ce;
}

#chapter-five .chapter-number-lg {
    background-color: #bee5e4;
}


.chapter-header-text h2 {
    line-height: 1em;
    margin-bottom: 0.4em;
    font-weight: 600;
    font-size: 2.5em;
    font-family: Circular-Pro-Book;
}


.read-more-less {
    margin: 2em 0em;
    cursor: pointer;
    cursor: hand;
}

.read-more-button {
    color: #fff;
    background-color: #484a56;
    padding: 1em;
}

.read-less-button {
    display: none;
    color: #fff;
    background-color: #484a56;
    padding: 1em;
    position: relative;
    top: -2em;
}

.read-more-button:hover, .read-less-button:hover {
    color: #db9d2e;
}

.chapter-main-text {
    display: none;
    margin-bottom: 3em;
}


.graphic-title, .graphic-caption, .graphic-title .citation-number, .graphic-caption .citation-number {
    color: #fff;
}

.graphic-title {
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: 0.3em;
    line-height: 1em;
    font-family: Dala Floda Web;
}


.graphic-caption {
    font-size: 1em;
}


.year-number-holder {
    margin-top: 2em;
}


.year-number-lg  {
    color: #b98728;
    line-height: 0.6em;
    cursor: pointer;
    cursor: hand;
    font-size: 4.5em;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
}


.tangent-tab-holder {
    background-color: #363845;
    padding: 0.75em 0em;
}


.tangent-read-more {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.5em 1em;
}


.tangent-tab {
    margin-bottom: 0.2em;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #40424e;
    font-size: 1.2em;
    width: 100%;
    cursor: pointer;
    cursor: hand;
}


.tangent-article {
    background-color: #fff;
    border-left: 20px solid #484a56;
    color: #484a56;
}


.tangent-article a {
    color: #383645;
    text-decoration: underline;
}


.tangent-small-graphic {
    width: 50%;
}


.tangent-article-tagline {
    margin-top: 3em;
    font-size: 1.25em;
    width: 100%;
}

.tangent-article-back {
    color: #9a9aa2;
    font-size: 1.75em;
    margin: 0.2em 0 0.6em 0;
    cursor: pointer;
    cursor: hand;
}

.tangent-article-title {
    font-size: 2em;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 0.6em;
    /*width: 15em;*/
    width: 70%;
}


.tangent-article-subtitle {
    font-size: 1.25em;
}

.tangent-article-caption {
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 1.25em;
}

.tangent-article-image {
    width: 100%;
}

.tangent-article-image img {
    width: 100%;
}
  
.tangent-article-download-button {
    display: inline-block;
    color: #fff;
    background-color: #484a56;
    width: 50%;
    text-align: center;
    vertical-align: top;
    padding: 0.1em;
    margin-right: 1em;
    margin-top: 0.1em;
    cursor: pointer;
    cursor: hand;
}

.tangent-article-download-image {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}


.tangent-article-download-image img {
    width: 100%;
}


.tangent-article .copyright-info {
    margin: 3em 2em;
    font-size: 1em;
}


#ch1t1 .tangent-article-tagline, #ch1t2 .tangent-article-tagline {
    color: #db9d2e;
}


#ch2t1 .tangent-article-tagline, #ch2t2 .tangent-article-tagline {
    color: #6fb174;
}


#ch2t1-icon {
    display: inline-block;
    width: 50%;
    margin: 2em 0em 1em 0em;
}

#ch2t1-icon img {
    width: 100%;
}


#ch3t1 .tangent-article-tagline, #ch3t2 .tangent-article-tagline {
    color: #eb6451;
}

#ch4t1 .tangent-article-tagline {
    color: #bfa991;
}

#ch5t1 .tangent-article-tagline, #ch5t2 .tangent-article-tagline, #ch5t3 .tangent-article-tagline {
    color: #4bb7b7;
}



.solution-images {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-left: 3%;
    margin-top: 5px;
}

.solution-images img {
    width: 100%;
    height: auto;
}


#ch5t2 ul {
    list-style: none;
}

#ch5t2 li {
    padding-bottom: 1em;
}









/* Prequel style */

#prequel {
    margin: 0px;
    padding: 10em 1em 4em 1em;
    color: #fff;
    background-image: url("http://d2tbmhuj3dq9ke.cloudfront.net/img/rainforest-backdrop-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#prequel-title {
    font-size: 3em;
    line-height: 1em;
    text-align: bottom;
}


#prequel-blurb {
    color: white;
    background-color: rgba(54,54,66,0.95);
    font-family: Dala Floda Web;
    font-size: 1.75em;
    line-height: 1.1em;
    padding: 1em;
}


.menu-bar {
    z-index: 300;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;    
}

.menu-button {
    display: inline-block;
    vertical-align: top;
    background-color: #282a3a;
    color: #afb0b5;
    width: 50px;
    height: 50px;
    padding: 2%;
    margin-left: -1px;
    cursor: pointer;
    cursor: hand;
}

.menu-button:hover {
    background-color: #383645;
}

.burger-bar-holder {
    height: 100%;
    width: 100%;
}

.burger-bar { 
    height: 11%;
    margin: 14% 0%;
    width: 100%;
    background-color: #afb0b5;
}


.site-menu {
    display: inline-block;
    vertical-align: top;
    width: 0%;
    height: auto;
    padding: 0px;
    margin-right: -3px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    cursor: hand;
    overflow: hidden;
}

.site-menu ul {
    padding: 0px;
    margin: 0px;
}
.site-menu-links li {
    display: none;
    list-style: none;
    height: auto;
    line-height: 1.2em;
    font-size: 1em;
    border-bottom: #afb0b5 1px solid;
    padding: 0.75em;
    background-color: #282a3a;
    color: #afb0b5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}


.site-menu-alt-color {
    background-color: #363845 !important;
}

.site-menu li:hover {
    background-color: #363845;
}

.site-menu-alt-color:hover {
    background-color: #282a3a !important;
}




/* Chapter 1 style */


#chapter-one .graphic-content {
    background-color: #db9d2e;
}


.ch1-map-1-holder, .ch1-map-2-holder {
    width: 100%;
    padding-bottom: 1em;
}

.ch1-map-1-holder img, .ch1-map-2-holder img {
    width: 100%;
}


#chapter-one .year-number-lg  {
    color: #b98728;
}

#chapter-one .year-number-lg:hover {
    color: #363845;
}

.ch1-map-legend {
    color: #363845;
    margin-bottom: 2em;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
}

.ch1-legend-note {
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
}

.ch1-legend-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
}


#ch1-legend-box-1, #ch1-legend-box-2, #ch1-legend-box-3, 
#ch1-legend-box-4, #ch1-legend-box-5, 
#ch1-legend-box-6, #ch1-legend-box-7, #ch1-legend-box-8, #ch1-legend-box-9 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3%;
    height: 1.8em;
    width: 1.8em;
}


#ch1-legend-box-1 {
    background-color: #fff;
}

#ch1-legend-box-2 {
    background-color: #f2dbb2;
}

#ch1-legend-box-3 {
    background-color: #e7c17a;
}

#ch1-legend-box-4 {
    background-color: #ad7e24;
}

#ch1-legend-box-5 {
    background-color: #714e0e;
}

#ch1-legend-box-6 {
    background-image: url("http://d2tbmhuj3dq9ke.cloudfront.net/img/ch1_state_line.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
}


#ch1-legend-box-7 {
    background-color: #eb6451;
}


#ch1-legend-box-8 {
    background-color: #4d7c50;
}


#ch1-legend-box-9 {
    background-color: #a3cda7;
}


#tab-one .tangent-read-more, #tab-one .tangent-title:hover {
    color: #db9d2e;
}




/* Chapter 2 style */

#chapter-two .graphic-content {
    background-color: #6fb174;
}

.product-headers {
    color: white;
    margin-top: 3em;
}

.product-headers-tagline {
    font-family: Dala Floda Web;
    font-size: 2em;
}

.product-category {
    font-size: 2.5em;
    margin-top: 0.1em;
    line-height: 1em;
    position: relative;
    z-index: 20;
    cursor: pointer;
    cursor: hand;
}

.beef-subproducts {
    font-size: 0.75em;
}


#cow {
    background-image: url("http://d2tbmhuj3dq9ke.cloudfront.net/img/adult-cow.png");
    background-repeat: no-repeat;
    background-size: 130%;
    padding-bottom: 25em;
    background-position: -80% 10%;
    margin-bottom: -12em;
}

.product-bubble {
    background-color: #97c69a;
    padding: 1em;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    cursor: hand;
}


#leather-bubble img, #beef-bubble img, #tallow-bubble img {
    width: 100%;
    height: 100%;
}


#leather-bubble {
    top: -5em;
    left: 1em;
}

#beef-bubble {
    top: 8em;
    left: 0.2em;
}

#tallow-bubble {
    top: 8.5em;
    left: 4em;
    padding: 0.25em 1em;
}

#tallow-bubble img {
    width: 120%;
    height: 120%;
}

#chapter-two .tangent-tab {
    color: #6fb174;
}

#tab-two .tangent-read-more, #tab-two .tangent-title:hover {
    color: #6fb174;
}



/* Ch 2 Trade maps style */

.ch2-maps {
    padding-top: 2em;
}

.ch2-maps, #ch2-intro {
    background-color: #97c69a;
}


.ch2-maps .product-category {
    color: #65a06a;
}

.ch2-maps .product-category.beef {
    color: #fff;
}


.product-intro-text, .trade-map-data {
    color: #363845;
    z-index: 20;
}

.product-intro-text {
    width: 100%;
}

#LeatherIntroText, #TallowIntroText {
    display: none;
}


.see-international-domestic {
    padding: 0.3em 0.5em;
    background-color: #363845;
    color: #fff;
    width: 50%;
    margin: 40px 0px 20px 0px;
}

.domestic-graphic, .international-graphic {
    width: 100%;
    z-index: 10;
}

.domestic-graphic img, .international-graphic img {
    width: 100%;
}

.international-graphic {
    position: relative;
    margin-bottom: 40px;
}


.trade-map-data {
    width: auto;
    margin: 2em 1em 2em 1em;
}


.popup-data-row, .data-row {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}



.data-row:hover {
    background-color: #f5d954;
}

.trade-data-row-left, .trade-data-row-right {
    display: inline-block;
}


.trade-data-row-left {
    text-align: right;
    width: 20%;
    margin-right: 1em;
    vertical-align: middle;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
    line-height: 1em;
    font-size: 1em;
}


.trade-percentage {
    font-size: 1.1em;
    font-weight: bold;
}


.trade-data-row-right {
    text-align: left;
    vertical-align: middle;
    font-size: 1.4em;
}

.trade-map-legend .trade-data-row-left {
    font-size: 1em;
}

.trade-map-legend .trade-data-row-right {
    font-size: 1em;
    line-height: 0.95em;
}

.trade-map-legend:hover {
    background-color: transparent;
}


#international-leather-data, #international-tallow-data {
    display: none;
}


.open-country-popup, .hide-country-popup {
    position: absolute;
    background-color: #f27050;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 1.2em;
    padding-left: -0.15em;
    padding-right: 0.05em;
    height: 1.2em;
    border-radius: 50%;
    line-height: 1.1em;
    cursor: pointer;
    cursor: hand;
    z-index: 40;
}

.europe-popup {
    display: none;
    top: 25%;
    left: 45%;
}

.italy-popup {
    display: none;
    top: 38%;
    left: 55%;
}

.china-popup {
    display: none;
    top: 39%;
    left: 78%;
}


.popup-panel {
    display: none;
    width: 100%;
    height: auto;
    color: #383645;
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    font-size: 0.8em;
}

popup-panel img {
    width: 100%;
}

#europe-popup-panel {
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/BeefMap-EuropeZoom.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}


/* Chapter 3 style */


#chapter-three .graphic-content {
    background-color: #3c3e4b;
}

.agreement-bullet {
    margin-left: 2em;
    }


.ch3-map {
    width: 100%;
    margin-top: 3em;
}

.ch3-map img {
    width: 100%;
}

#ch3-map-legends {
    color: #fff;
    position: relative;
}


#agreements-legend {
    margin-top: 2em;    
}


.ch3-legend-note {
    font-size: 0.8em;
}


.ch3-legend-label   {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.2em;
}


#ch3-legend-box-1, #ch3-legend-box-2, #ch3-legend-box-3, #ch3-legend-box-4, 
#ch3-legend-box-6, #ch3-legend-box-7, #ch3-legend-box-8, #ch3-legend-box-roads, #ch3-legend-box-states {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 2%;
    margin-right: 3%;
    height: 1.8em;
    width: 1.8em;
}


#ch3-legend-box-1-circle, #ch3-legend-box-2-circle, #ch3-legend-box-3-circle, 
#ch3-legend-box-4-circle {
    margin-left: auto;
    margin-right: auto;
    width: 1.3em;
    height: 1.3em;
    margin-top: 15%;
    border-radius: 50%;
    border: 4px #27272f solid;
}


#ch3-legend-box-6 {
    background-color: #6fb174;
}

#ch3-legend-box-7 {
    background-color: #eb6451;
}

#ch3-legend-box-8 {
    background-color: #c2a993;
}


#ch3-legend-box-roads {
    background-image: url("http://d2tbmhuj3dq9ke.cloudfront.net/img/ch3_road_legend.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
}

#ch3-legend-box-states {
    background-image: url("http://d2tbmhuj3dq9ke.cloudfront.net/img/ch3_state_legend.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
}

#ch3-legend-box-1-circle {
    background-color: transparent;
    border-width: 10px;
    height: 0.6em;
    width: 0.6em;
}

#ch3-legend-box-2-circle {
    background-color: #db9d2e;
}

#ch3-legend-box-3-circle {
    background-color: #f9e426;
}

#ch3-legend-box-4-circle {
    background-color: #9191fa;
}

#tab-three .tangent-read-more, #tab-three .tangent-title:hover {
    color: #eb6451;
}



/* Chapter 4 style */


#chapter-four .tangent-tab {
    color: #b29377;
}


#chapter-four .graphic-content {
    background-color: #584942;
}


#chapter-four .year-number-lg {
    color: #9a8479;
    line-height: 1em;
    margin-bottom: -0.5em;
    font-size: 2.5em;
}


#chapter-four .year-number-lg:hover {
    color: #fff;
}

.compliance-tag {
    font-size: 0.5em;
    position: relative;
    left: 1.5em;
    top: -0.9em;
}

.ch4-map-overlay {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2em;
}

.ch4-map-overlay img {
    width: 100%;
}

.ch4-map-overlay-pre {
    background-image: url("http://d2tbmhuj3dq9ke.cloudfront.net/img/preagreement.gif");
}

.ch4-map-overlay-post {
    background-image: url("http://d2tbmhuj3dq9ke.cloudfront.net/img/postagreement.gif");
}

#ch4-map-legend {
    color: #fff;
    margin: 2em 0.5em;
}

.ch4-legend-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1em;
    margin-top: 2%;
}

#ch4-legend-box-1, #ch4-legend-box-2, #ch4-legend-box-3,
#ch4-legend-box-4, #ch4-legend-box-5 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2%;
    margin-right: 1%;
    height: 1.8em;
    width: 1.8em;
}

#ch4-legend-box-2 {
    background: -webkit-repeating-linear-gradient(-45deg, #fc7612, #fc7612 5px, transparent 5px, transparent 10px);
    background: -o-repeating-linear-gradient(-45deg, #fc7612, #fc7612 5px, transparent 5px, transparent 10px);
    background: -moz-repeating-linear-gradient(-45deg, #fc7612, #fc7612 5px, transparent 5px, transparent 10px);
    background: repeating-linear-gradient(-45deg, #fc7612, #fc7612 5px, transparent 5px, transparent 10px);
}

#ch4-legend-box-1 {
    background: -webkit-repeating-linear-gradient(-45deg, #ea6350, #ea6350 5px, transparent 5px, transparent 10px);
    background: -o-repeating-linear-gradient(-45deg, #ea6350, #ea6350 5px, transparent 5px, transparent 10px);
    background: -moz-repeating-linear-gradient(-45deg, #ea6350, #ea6350 5px, transparent 5px, transparent 10px);
    background: repeating-linear-gradient(-45deg, #ea6350, #ea6350 5px, transparent 5px, transparent 10px);
}

#ch4-legend-box-3 {
    background-color: #6fb174;
}

#ch4-legend-box-4 {
    background-color: #f5d954;
}

#ch4-legend-box-5 {
    background-color: #9b8578;
}

#tab-four .tangent-read-more, #tab-four .tangent-title:hover {
    color: #c2a993;
}

.ch4-source {
    width: auto;
    color: white;
    margin-top: 0.5em;
}








/* Chapter 5 style */

#chapter-five {
    background-color: #fff;
    height: auto;
}


#chapter-five .tangent-tab {
    color: #6fb174;
    }


.ch5-label  {
    display: inline-block;
    background-color: #fff;
    color: #000;
    width: 80%;
    height: auto;
    padding: 1em;
    position: relative;
    top: 1em;
    left: 1em;
    font-size: 1em;
    line-height: 1em;
    box-shadow: 5px 5px rgba(147,197,197,0.5);
}


.ch5-image-holder {
    width: 100%;
    height: 0;
    background-repeat: no-repeat;
    padding-bottom: 92.85%;
    background-color: #a6dcdc;
    background-size: 100%;
}


#ct1 {
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/ct1.jpg');
}

#ct2 {
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/ct2.jpg');
}

#ct3 {
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/ct3.jpg');
}

#ct4 {
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/ct4.jpg');
}

#ct5 {
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/ct5.jpg');
}

#ct6 {
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/ct6.jpg');
}




#tab-five .tangent-read-more, #tab-five .tangent-title:hover {
    color: #6fb174;
}

#animal-tag {
    margin: 10px 0px;
    width: 80%;
}

#animal-tag img {
    width: 100%;
}


/* Recommendations style */

.recommendations-header {
    color: #363845;
    margin-bottom: 3em;
}

.recommendations-header h2 {
    font-size: 2em;
    font-weight: 100;
}

.recommendations-header .chapter-summary-tagline {
    font-family: Dala Floda Web;
    font-size: 1.5em;
    margin-top: 1em;
}


.recommendations-map-holder {
    height: 15em;
    background-image: url('http://d2tbmhuj3dq9ke.cloudfront.net/img/recommendations.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    }

.rec-photo-caption {
    color: #363845;
    text-align: right;
}

.map-point {
    color: #f27050;
    font-size: 1.5em;
    cursor: pointer;
    cursor: hand;
}


.recommendations-panel {
    display: none;
    padding: 2em 1em;
    width: 100%;
    height: auto;
    background-color: #363845;
    color: #fff;
    position: absolute;
    left: 0px;
    font-size: 1em;
}

.recommendations-actor {
    color: #f27050;
    font-size: 2em;
}

.recommendations-panel a {
    color: #fff;
}

.recommendations-panel li {
    margin-bottom: 1em;
}

.close-recs {
    background-color: #f27050;
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    padding-left: -0.15em;
    padding-right: 0.05em;
    border-radius: 50%;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    cursor: hand;
}






/* Footer style */

#about_and_credits {
    background-color: #2b2e37;
    padding-top: 4em;
    margin-top: 3em;    
}

.about-this-site {
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.social-media {
    color: #fff;
}

.social-media-icons {
    margin-top: 1.5em;
    margin-bottom: 3.5em;
}

.twitter-icon, .facebook-icon {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
    left: -0.2em;
    cursor: pointer;
    cursor: hand;
}

.credits {
    width: 100%;
    background-color: #d7d6db;
    padding-bottom: 2em; 
    text-align: center;  
}


.about-main-text {
    text-align: left;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 4em;
}

.about-main-text p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.about-main-text a {
    color: #fff;
    font-weight: bold;
}

#about-title {
    text-align: center;
    font-size: 1.5em;
}


.funders, .contributors, .endorsers, .copyright-info {
    text-align: center;
    color: #83838b;
    font-size: 1.2em;
}


.funders, .contributors, .endorsers {
    border-bottom: 4px solid #fff;
    padding-bottom: 3em;
    padding-top: 2em;
}

.logo {
    margin-top: 3em;
}

.logo img {
    height: 100%;
}

.contributors .logo {
    height: 8em;
}

.funders .logo {
    height: 5em;
}

#ICV-logo, #moore-logo {
    height: 4em;
}

.endorsers .logo {
    height: 3.5em;
}

#GLUE-logo {
    height: 10em;
}

#CLUA-logo {
    height: 3em;
}

#SEI-logo {
    height: 2.5em;
}


#ForestHeroes-logo {
    height: 7em;
}


.copyright-info {
    padding-top: 2em;
}


/* Citation style */

.citation-number, #amazon-biome, .gibbs-et-al, #direct-suppliers, #indirect-suppliers, #strassburg-et-al, #BeefDomestic, #LeatherDomestic, #TallowDomesticA, #TallowDomesticB, #TallowDomesticC {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

.citation {
    display: none;
    position: absolute;
    left: 15px;
    width: 90%;
    padding: 1.5em;
    background-color: #363845;
    color: #fff;
    font-size: 1em;
    box-shadow: 7px 7px #e5e5e5;
    z-index: 200;
}


#citation6, #citation7 {
    box-shadow: 7px 7px #b98728;
}

#citation17 {
    background-color: #5e616a;
}


.citation a {
    color: #fff;
    cursor: pointer;
    cursor: hand;
}

.citation-link {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}