

/* Fonts

 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * www.nwf.org
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2015
 */

@font-face {
    font-family: "Circular-Pro-Book";
    src:url("../fonts/lineto-circular-pro-book.eot");
    src:url("../fonts/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-book.woff") format("woff"),
        url("../fonts/lineto-circular-pro-book.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-book.svg#lineto-circular-pro-book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Bolditalic";
    src:url("../fonts/lineto-circular-pro-bolditalic.eot");
    src:url("../fonts/lineto-circular-pro-bolditalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-bolditalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-bolditalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-bolditalic.svg#lineto-circular-pro-bolditalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Blackitalic";
    src:url("../fonts/lineto-circular-pro-blackitalic.eot");
    src:url("../fonts/lineto-circular-pro-blackitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-blackitalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-blackitalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-blackitalic.svg#lineto-circular-pro-blackitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Medium";
    src:url("../fonts/lineto-circular-pro-medium.eot");
    src:url("../fonts/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-medium.woff") format("woff"),
        url("../fonts/lineto-circular-pro-medium.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-medium.svg#lineto-circular-pro-medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Mediumitalic";
    src:url("../fonts/lineto-circular-pro-mediumitalic.eot");
    src:url("../fonts/lineto-circular-pro-mediumitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-mediumitalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-mediumitalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-mediumitalic.svg#lineto-circular-pro-mediumitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Black";
    src:url("../fonts/lineto-circular-pro-black.eot");
    src:url("../fonts/lineto-circular-pro-black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-black.woff") format("woff"),
        url("../fonts/lineto-circular-pro-black.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-black.svg#lineto-circular-pro-black") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Bookitalic";
    src:url("../fonts/lineto-circular-pro-bookitalic.eot");
    src:url("../fonts/lineto-circular-pro-bookitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-bookitalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-bookitalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-bookitalic.svg#lineto-circular-pro-bookitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Bold";
    src:url("../fonts/lineto-circular-pro-bold.eot");
    src:url("../fonts/lineto-circular-pro-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-bold.woff") format("woff"),
        url("../fonts/lineto-circular-pro-bold.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-bold.svg#lineto-circular-pro-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Global style */

html      {font-size: 16px;}

body     {
            font-family: Circular-Pro-Book;
            margin: 0px;
            font-size: 100%;
            }


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body { font-size: 40%;}
}

/* Tablet sizing */
@media only screen and (max-width : 768px) {
    body { font-size: 50%;}
}

/* Desktop sizing */
@media only screen and (min-width : 1224px) {
    body { font-size: 100%;}
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
    body { font-size: 120%;}
}



h1,h2        {font-family: Circular-Pro-Book;
              color: #363845;}

h1        {font-size: 9em;}
h2        {font-size: 4em;}


.chapter-header {
          background-color: #fff;
          height: auto;
          text-align: center;
          }


.chapter-headline {
          width: 65%;
          height: 10%;
          margin: auto;
          }


.chapter-triangle {
          text-align: center; margin: 0 auto;
          width: 0; 
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #fff;
          }


/* Prequel style */

#prequel    {  
            background-color: white;}


#rainforest-vid {
          width: 100%; height: auto;
          z-index: -100;
          background: url("../img/rainforest-backdrop.jpg") no-repeat;
          background-size: cover;
          }


#prequel-title {
            position: relative;
            top: -8em;
            width: 100%;
            font-size: 5.5em;
            line-height: 1em;
            color: #fff;
            text-align: left;
            margin-bottom: -5em;
}

#prequel-title-left {
            display: inline-block;
            position: relative;
            text-align: right;
            width: 45%;
}
#prequel-title-middle {
            font-size: 1.5em;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            text-align: middle;
            width: auto;
}
#prequel-title-right {
            display: inline-block;
            position: relative;
            text-align: left;
            width: 40%;
            vertical-align: middle;
}

#prequel-blurb {color: white;
            position: relative;
            font-size: 0.35em;
            line-height: 1em;
            width: 50%;
            margin-left: 35%;
            margin-top: 4%;}


#burger-box {background-color: #363845;
             position: relative;
             top: -50px;
             height: 70px;
             width: 220px;
            }


#burger-holder {height: 27px;
              position: relative; 
              left: 120px;
              top: 20px;}


.burger-bar { height: 5px;
              width: 40px;
              background-color: #afb0b5;
              margin: 6px;}


#contents  {margin-left: 3%;
            width: 97%;
            color: #363845;}


#contents-text {
          width: 100%;
          }


.chapter-button {
                width: 20%;
                display: inline-block;
                margin: -2px;
                }


.chapter-number {
            display: inline-block;
            font-size: 5em;
            vertical-align: text-top;
            margin-right: 0.1em;
            }

#ch4-button   {
            width: 22%;
            }

#ch2-button, #ch3-button, #ch5-button   {
            width: 18%;
            }


.chapter-title {
            width: 70%;
            display: inline-block;
            vertical-align: text-top;
            margin-top: 1.8em;
            }


#contents-graphics {
            position: relative;
            left: 2.5em;
            margin-top: -1.4em;
          }


.chapter-button-lower {
            width: 19.55%;
            text-align: left; vertical-align: top;
            display: inline-block;
            color: #363845;
            }


.chapter-icon {
            display: inline-block;
            vertical-align: middle;
            height: 5em;
            }

.chapter-icon img {
            display: inline-block;
            width: 5em;
            }

#ch5-button img {margin-top: 1em;
                margin-left: -1.5em;
                }

.chapter-line {
            vertical-align: middle;
            display: inline-block;
            height: 1px; width: 7.2em;
            background-color: #9a9aa2;
            }




/* Chapter 1 style */

#chapter-one { background-color: #db9d2e;
	    height: 1203px;
      }

#left-col-ch-1 {
      display: inline-block;
      width: 40%;
      }

.year-number-holder {
      margin-left: 15%;
      margin-right: 5%;
      margin-top: 2em;
      vertical-align: top;
}

.year-number-lg  {
      color: #b98728;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 1em;
  }

.year-number-lg:hover  {
      color: #363845;
  }

#summary-text {
    width: 528px;
    height: 224px;
    background-color: white;
    position: relative;
    left: 250px;
    top: 150px;
  }

#summary-text p {
    margin: -1em 3em 0 4em;
}

.tangent-tab  {
    background-color: #484a56;
    color: #db9d2e;
    width: 166px;
    padding: 1.2em 0em 1.2em 1.2em;
    position: relative;
    left: -190px;
    top: 40px;
    font-size: 1.25em;
  }

#brazil-map-ch-1  {
    background-image: url("../img/brazil-map-ch-1.jpg");
    background-repeat: no-repeat;
    height: 950px;
    width: 751px;
    display: inline-block;
    vertical-align: top;
}


/* Chapter 2 style */

#chapter-two {  background-color: #6fb174;
                height: 1218px;
            }

#cow-products-ch-2 {
            background-image: url("../img/cow-products-ch-2.jpg");
            background-repeat: no-repeat;
            height: 1400px;
            }

#top-circle-ch-2 {
            margin-bottom: -4px;
            position: relative;
            left: 495px;
            }

/* Chapter 3 style */

#chapter-three { background-color: gray;
            height: 1550px;}




/* Chapter 4 style */

#chapter-four { background-color: #616161;
            height: 1550px;}


/* Chapter 5 style */

#chapter-five { background-color: gray;
            height: 1550px;}
