/* Fonts

 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * www.nwf.org
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2015
 */

@font-face {
    font-family: "Circular-Pro-Book";
    src:url("../fonts/lineto-circular-pro-book.eot");
    src:url("../fonts/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-book.woff") format("woff"),
        url("../fonts/lineto-circular-pro-book.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-book.svg#lineto-circular-pro-book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Bolditalic";
    src:url("../fonts/lineto-circular-pro-bolditalic.eot");
    src:url("../fonts/lineto-circular-pro-bolditalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-bolditalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-bolditalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-bolditalic.svg#lineto-circular-pro-bolditalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Blackitalic";
    src:url("../fonts/lineto-circular-pro-blackitalic.eot");
    src:url("../fonts/lineto-circular-pro-blackitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-blackitalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-blackitalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-blackitalic.svg#lineto-circular-pro-blackitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Medium";
    src:url("../fonts/lineto-circular-pro-medium.eot");
    src:url("../fonts/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-medium.woff") format("woff"),
        url("../fonts/lineto-circular-pro-medium.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-medium.svg#lineto-circular-pro-medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Mediumitalic";
    src:url("../fonts/lineto-circular-pro-mediumitalic.eot");
    src:url("../fonts/lineto-circular-pro-mediumitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-mediumitalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-mediumitalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-mediumitalic.svg#lineto-circular-pro-mediumitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Black";
    src:url("../fonts/lineto-circular-pro-black.eot");
    src:url("../fonts/lineto-circular-pro-black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-black.woff") format("woff"),
        url("../fonts/lineto-circular-pro-black.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-black.svg#lineto-circular-pro-black") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Pro-Bookitalic";
    src:url("../fonts/lineto-circular-pro-bookitalic.eot");
    src:url("../fonts/lineto-circular-pro-bookitalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-bookitalic.woff") format("woff"),
        url("../fonts/lineto-circular-pro-bookitalic.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-bookitalic.svg#lineto-circular-pro-bookitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dala Floda-Roman";
    src:url("../fonts/Dala Floda-Roman.otf");
    src:url("../fonts/DalaFloda-Roman-Web.woff") format("woff"),
        url("../fonts/DalaFloda-Roman-Web.ttf") format("truetype"),
        url("../fonts/DalaFloda-Roman-Web.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Circular-Pro-Bold";
    src:url("../fonts/lineto-circular-pro-bold.eot");
    src:url("../fonts/lineto-circular-pro-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-pro-bold.woff") format("woff"),
        url("../fonts/lineto-circular-pro-bold.ttf") format("truetype"),
        url("../fonts/lineto-circular-pro-bold.svg#lineto-circular-pro-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}



/* Global style */

html      {font-size: 16px;}

body     {
            font-family: Circular-Pro-Book;
            margin: 0px;
            font-size: 100%;
            }


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body { font-size: 40%;}
}

/* Tablet sizing */
@media only screen and (max-width : 768px) {
    body { font-size: 50%;}
}

/* Desktop sizing */
@media only screen and (min-width : 1224px) {
    body { font-size: 100%;}
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
    body { font-size: 120%;}
}



h1,h2     {font-family: Circular-Pro-Book;
              color: #363845;}

h1        {font-size: 7em;}
h2        {font-size: 4em;}


.chapter-header {
          background-color: #fff;
          height: auto;
          text-align: center;
          }


.chapter-number-lg {
          display: inline-block;
          vertical-align: middle;
          color: white;
          font-family: Dala Floda-Roman;
          font-size: 16em;
          height: 1em;
          width: 1em;
          border-radius: 50%;
          margin-right: 0.1em;
          position: relative;
          top: 0.2em;
          }


#chapter-one .chapter-number-lg {background-color: #f2dbb2;}
#chapter-two .chapter-number-lg {background-color: #cae3cd;}
#chapter-three .chapter-number-lg {background-color: #b6b7bb;}
#chapter-four .chapter-number-lg {background-color: #e2d8ce;}
#chapter-five .chapter-number-lg {background-color: #bee5e4;}


.chapter-headline {
          display: inline-block;
          text-align: left;
          vertical-align: middle;
          width: 65%;
          height: 10%;
          line-height: 3.5em;
          padding-top: 1%;
          margin: auto;
          }


.chapter-triangle {
          text-align: center; margin: 0 auto;
          width: 0; 
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #fff;
          }

.chapter-summary-tagline {
          font-family: Dala Floda-Roman;
          color: white;
          font-size: 1.8em;
          position: relative;
          top: 2.5em;
          left: 10%;
          width: 40%;
          }

.chapter-landing {
  margin-left: 10%;
  margin-top: -10em;
  }


.chapter-landing-text {
    display: inline-block;
    color: #484a56;
    font-size: 1.1em;
    width: 53%;
    height: auto;
    padding: 2em;
    background-color: white;
  }


.tangent-tab  {
    display: inline-block;
    position: relative;
    left: -0.2em;
    top: -1.5em;
    background-color: #484a56;
    color: #db9d2e;
    width: 20%;
    padding: 1.2em 0em 1.2em 1.2em;
    font-size: 1.1em;
  }











/* Prequel style */

#prequel    {  
            background-color: white;}


#rainforest-vid {
          width: 100%; height: auto;
          z-index: -100;
          background: url("../img/rainforest-backdrop.jpg") no-repeat;
          background-size: cover;
          }


.prequel-triangle {
          text-align: center; margin: 0 auto;
          margin-top: -0.3em;
          width: 0; 
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #202020;
          }

#prequel-title {
            position: relative;
            top: -6.5em;
            width: 100%;
            font-size: 5.5em;
            line-height: 1em;
            color: #fff;
            text-align: left;
            margin-bottom: -5.5em;
}

#prequel-title-left {
            display: inline-block;
            position: relative;
            text-align: right;
            width: 45%;
}
#prequel-title-middle {
            font-size: 1.5em;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            text-align: middle;
            width: auto;
}

#prequel-title-right {
            display: inline-block;
            position: relative;
            text-align: left;
            width: 40%;
            vertical-align: middle;
}

#prequel-blurb {color: white;
            position: relative;
            font-family: Dala Floda-Roman;
            font-size: 0.4em;
            line-height: 1em;
            width: 50%;
            margin-left: 35%;
            margin-top: 4%;}


#burger-box {background-color: #363845;
             position: relative;
             top: -2em;
             height: 70px;
             width: 220px;
            }

#burger-box:hover {background-color: #282a3a;
            }


#burger-holder {height: 27px;
              position: relative; 
              left: 120px;
              top: 20px;}


.burger-bar { height: 5px;
              width: 40px;
              background-color: #afb0b5;
              margin: 6px;}


#contents  {margin-left: 3%;
            width: 97%;
            color: #363845;}


#contents-text {
          width: 100%;
          }


.chapter-button {
                width: 20%;
                display: inline-block;
                margin: -2px;
                }

.chapter-details {display: none;}

.chapter-details-square {
    position: absolute;
    top: 85%;
    left: 3%;
    margin: 0 auto;
    font-size: 1em;
    padding: 2em;
    width: 10%;
    height: 8em;
    background-color: #363845;
    color: #fff;
    text-align: center;
}

.chapter-details-triangle {
    position: absolute;
    top: 100.5%;
    left: 50%;
    margin-left: -47%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 3em #363845;
    border-left: solid 6.3em transparent;
    border-right: solid 6.3em transparent;
}


.chapter-number {
            font-family: Dala Floda-Roman;
            display: inline-block;
            font-size: 6em;
            vertical-align: text-top;
            margin-right: 0.1em;
            }


#ch4-button   {
            width: 22%;
            }

#ch2-button, #ch3-button, #ch5-button   {
            width: 18%;
            }


.chapter-title {
            width: 70%;
            display: inline-block;
            vertical-align: text-top;
            margin-top: 1.8em;
            }


#contents-graphics {
            position: relative;
            left: 2.5em;
            margin-top: -1.4em;
          }


.chapter-button-lower {
            width: 19.55%;
            text-align: left; vertical-align: top;
            display: inline-block;
            color: #363845;
            }


.chapter-icon {
            display: inline-block;
            vertical-align: middle;
            height: 5em;
            }

.chapter-icon img {
            display: inline-block;
            width: 5em;
            }

#ch5-button img {margin-top: 1em;
                margin-left: -1.5em;
                }

.chapter-line {
            vertical-align: middle;
            display: inline-block;
            height: 1px; width: 50%;
            background-color: #9a9aa2;
            }

#ch2-button .chapter-line {width: 55%}
#ch3-button .chapter-line {width: 55%}

















/* Chapter 1 style */

#chapter-one { background-color: #db9d2e;
	    height: auto;
      }

#ch1-left-col {
      display:inline-block;
      width: 30%;
      margin-left: 5%;
      vertical-align: top;
      }

#ch1-right-col {
      display:inline-block;
      width: 50%;
      text-align: right;
      vertical-align: top;
      }

.year-number-holder {
      margin-left: 10%;
      margin-right: 5%;
      margin-top: 6em;
      vertical-align: top;
}

#chapter-one .year-number-lg  {
      color: #b98728;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 1em;
      -webkit-font-feature-settings: 'tnum';
      -moz-font-feature-settings: 'tnum';
      -ms-font-feature-settings: 'tnum';
  }

.year-number-lg:hover  {
      color: #363845;
  }

#ch1-map-legend   {
      display: inline-block;
      color: #363845;
      position: relative;
      left: -25em;
      top: 15em;
      width: 20em;
      }

.ch1-legend-note   {
      font-size: 0.8em;
      display: inline-block;
      vertical-align: middle;
      }

.ch1-legend-label   {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.1em;
      }

#ch1-legend-box-1, #ch1-legend-box-2, #ch1-legend-box-3, #ch1-legend-box-4, #ch1-legend-box-5, #ch1-legend-box-border {
      display: inline-block;
      vertical-align: middle;
      margin-top: 3%;
      margin-left: 5%;
      height: 1.8em;
      width: 1.8em;
      background-color: gray;
      }

#ch1-legend-box-1 {background-color: #fff;}
#ch1-legend-box-2 {background-color: #f2dbb2;}
#ch1-legend-box-3 {background-color: #e7c17a;}
#ch1-legend-box-4 {background-color: #ad7e24;}
#ch1-legend-box-5 {background-color: #714e0e;}
#ch1-legend-box-border {
      background-color: #f4e0bf;
      background-image: url("../img/border-sprite.png");
      background-repeat: no-repeat;
      background-position: center;}

#brazil-map-ch-1  {
      display: inline-block;
      position: relative;
      top: -17em;
      left: 2em;
      }

#brazil-map-ch-1 img  {
    width: 80%;
    height: auto;
}








/* Chapter 2 style */

#chapter-two {  background-color: #6fb174;
                height: auto;
             }

#chapter-two .chapter-summary-tagline {width: 20%;}

#product-bubbles {
              text-align: right;
              margin-bottom: -15em;
              }

#tallow-bubble, #leather-bubble, #beef-bubble {
              display: inline-block;
              width: 30%;
              position: relative;}

#leather-bubble {top: -27em;}
#beef-bubble {top: -20em;}
#tallow-bubble {top: -4em; left: 20em;}

.bubble-pic   {width: 100%;}

.ship-icon    {position: relative; width: 25%;}

#beef-bubble .ship-icon    {top:-2.5em;
                            left: -8.5em;}

#leather-bubble .ship-icon    {top:-4.5em;
                              left: -9.5em;}

#tallow-bubble .ship-icon    {top:-3.5em;
                              left: -1.5em;}

#adult-cow  { margin-left: auto;
              margin-right: auto;
              width: 50%;
              position: relative;
              top: 5em;
              left: 1em;
              }

#adult-cow img {width: 100%;}

#chapter-two .tangent-tab {color: #6fb174;}




/* Chapter 3 style */

#chapter-three { background-color: #363845;
            height: auto;}


#ch3-left-col {
      display:inline-block;
      width: 40%;
      margin-left: 5%;
      vertical-align: top;
      }

#ch3-right-col {
      display:inline-block;
      width: 40%;
      text-align: right;
      vertical-align: top;
      }

.g4-holder {
      margin-left: 10%;
      margin-right: 5%;
      margin-top: 6em;
      vertical-align: top;
}

.g4-lg  {
      color: #5e616a;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 1em;
      -webkit-font-feature-settings: 'tnum';
      -moz-font-feature-settings: 'tnum';
      -ms-font-feature-settings: 'tnum';
  }


.g4-lg:hover  {
      color: #fff;
  }

#ch3-map-legends   {
      display: inline-block;
      color: #fff;
      position: relative;
      left: -65em;
      top: 25em;
      width: 80em;
      }


#company-legend, #g4-legend, #vegetation-legend {
  vertical-align: top;
  display: inline-block;
  width: 18%;
}

#company-legend {}

.ch3-legend-note   {
      font-size: 0.8em;
      display: inline-block;
      vertical-align: middle;
      }

.ch3-legend-label   {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.1em;
      }

#ch3-legend-box-1, #ch3-legend-box-2, #ch3-legend-box-3, #ch3-legend-box-4, #ch3-legend-box-5, #ch3-legend-box-6, #ch3-legend-box-7, #ch3-legend-box-8 {
      display: inline-block;
      vertical-align: middle;
      margin-top: 3%;
      margin-left: 5%;
      height: 1.8em;
      width: 1.8em;
      background-color: #686b74;
      }

#ch3-legend-box-1-circle, #ch3-legend-box-2-circle, #ch3-legend-box-3-circle, #ch3-legend-box-4-circle, #ch3-legend-box-5-circle {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 50%;
      margin-top: 15%;
      border-radius: 50%;
      border: 2px #fff solid;
    }

#ch3-legend-box-5-circle {border: 2px #40424e solid;}

#ch3-legend-box-1-circle {background-color: #6fb174;}
#ch3-legend-box-2-circle {background-color: #eb6451;}
#ch3-legend-box-3-circle {background-color: #c2a993;}
#ch3-legend-box-4-circle {background-color: #fff;}
#ch3-legend-box-5-circle {background-color: #40424e;}

#ch3-legend-box-6 {background-color: #6fb174;}
#ch3-legend-box-7 {background-color: #eb6451;}
#ch3-legend-box-8 {background-color: #c2a993;}

#brazil-map-ch-3  {
      display: inline-block;
      position: relative;
      top: -10em;
      left: 2em;
      width: 100%;
      }

#brazil-map-ch-3 img  {
    width: 100%;
    height: auto;
}



#chapter-three .tangent-tab {color: #363845;
      background-color: #6fb174;}









/* Chapter 4 style */

#chapter-four { background-color: #b29377; height: auto;}

#ch4-mid      {height: 1000px;}

#chapter-four .tangent-tab {color: #b29377;}


/* Chapter 5 style */

#chapter-five { background-color: #4bb7b7;
            height: auto;}

#chapter-five .tangent-tab {color: #4bb7b7;}